<template>
  <div class="munu-box">
    <div class="select-date" @click="openMenu">
      <span v-text="!sortation ? '--' : sortation"></span>
      <span class="material-icons">arrow_drop_down</span> 
    </div>
    <div class="munu" v-if="fieldOpen">
      <div class="item" v-for="menu in sortationItems" :key="menu" @click="seleteSortation(menu)">{{menu}}</div>
    </div>
  </div>
</template>

<script>
export default {
  model: { prop: 'sortation', event: 'select' },
  props: {
    sortation: { type: String, defalut: '' },
    sortationItems: { type: Array, required: true }
  },
  data: () => ({
    fieldOpen: false,
  }),
  methods: {
    openMenu(){
      this.fieldOpen = !this.fieldOpen;
    },
    seleteSortation( menu ){
      this.$emit( 'select', menu );
      this.fieldOpen = false;
    }
  },
}
</script>

<style scoped>
.munu-box {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}
.munu{
  width:100%;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.munu .item{
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 10px 0 20px;
  cursor: pointer;
}
.munu .item:hover{
  background-color: #2d81ff;
  color: white;
}
.select-date{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding:0 10px 0 20px;
  border-radius: 4px;
  background-color: #efefef;
}
.item.on {
  opacity: 0.7;
}
</style>