<template>
  <div class="main">
    <div class="header">등록하기</div>
    <div class="content">
      <Calendar v-model="selectedDate"/>
      <AcntForm 
      :selectedDate="formatDate"
      @submit="submitAccount"/>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import req2svr from './req2svr';
import moment from 'moment';

import AcntForm from "../../components/form";
import Calendar from "../../components/calendar";

export default {
  name: 'AcntAdd',
  components: { AcntForm, Calendar },
  data: () => ({
    selectedDate: moment(),
  }),
  computed: {
    formatDate() {
      return this.selectedDate.format( 'YYYY-MM-DD' )
    }
  },
  methods: {
    async submitAccount( accountBookData ) {
      accountBookData.amount = accountBookData.amount * 1
      accountBookData.date = this.formatDate

      const formHasError = _.some( accountBookData, v => !v )
      if(formHasError){
        alert('비어있는 입력란이있습니다.')
        return
      }
        
      const addResult = await req2svr.addAcnt( accountBookData )
      if( addResult ) {
        this.$store.commit( 'setAcntBookList', accountBookData )
        const tempDate = moment(this.selectedDate)
        this.$router.push( `/list?year=${tempDate.year()}&month=${tempDate.month()}`)
      } else {
        alert('서버측 문제발생')
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.content{
  display: flex;
  justify-content: space-between;
}
</style>