<template>
  <div class="main">
    <div class="header">
      <span>수정하기</span>
      <span class="material-icons close-btn"  @click="closePopup( false )">close</span>
    </div>
    <div class="content">
      <Calendar v-model="selectedDate"/>
      <AcntForm 
      :accountBook="accountBook"
      :selectedDate="formatDate"
      @submit="submitAccount"/>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import moment from 'moment';

import AcntForm from "../../components/form";
import Calendar from "../../components/calendar";

export default {
  name: 'AcntUpdate',
  props: {
    accountBook: {
      type: Object,
      required: true
    }
  },
  components: { AcntForm, Calendar },
  data: () => ({
    selectedDate: null,
    updateId: null,
  }),
  computed: {
    formatDate() {
      return this.selectedDate.format( 'YYYY-MM-DD' )
    }
  },
  created() {
    this.selectedDate = moment(this.accountBook.date)
  },
  methods: {
    submitAccount( accountBook ) {
      const acnt = _.clone(accountBook) 
      acnt.amount = accountBook.amount * 1
      acnt.date = this.selectedDate.format( 'YYYY-MM-DD' )

      const formHasError =  _.some(acnt, v => !v)
      if( formHasError ) {
        alert('비어있는 입력란이 있습니다.')
        return
      }

      this.closePopup( acnt )
    },
    closePopup( acntUpdateItem ) {
      this.$popupManager.close( this, { acntUpdateItem })
    }
  },
}
</script>

<style lang="scss" scoped>
.main {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 500px;
  background-color: rgb(255, 255, 255);

  .header {
    display: flex;
    justify-content: space-between;

    .close-btn {
      cursor: pointer;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
}
</style>