<template>
  <div class="form-box">
    <div>
      <div>날짜</div>
      <input :value="selectedDate" class="input" type="text" readonly>
    </div>
    <div>
      <div>구분</div>
      <SortationSelectField 
      v-model="accountBookData.sortation" 
      :sortationItems="sortationItems"/>
    </div>
    <div>
      <div>내용</div>
      <input v-model="accountBookData.title" class="input" type="text">
    </div>
    <div>
      <div>금액</div>
      <input v-model="accountBookData.amount" class="input" type="number" min="1">
    </div>
    <div @click="submit" class="submit-btn">등록</div>
  </div>
</template>

<script>
import SortationSelectField from '../sortationSelectField';
import _ from "lodash";

export default {
  model: {prop: 'accountBook', event: 'change'},
  props: {
    accountBook: { type : Object, defalut: null },
    selectedDate: { type: String, defalut: null },
  },
  components: { SortationSelectField },
  data: () => ({
    sortationItems: ['지출', '수입'],
    accountBookData: {
      sortation: '지출',
      title: '',
      amount: 0,
    },
  }),
  mounted() {
    this.accountBookData = { ...this.accountBookData, ...this.accountBook }
  },
  methods: {
    submit(){
      this.$emit('submit', this.accountBookData);
    },
  },
  
}
</script>

<style lang="scss" scoped>
.form-box{
  display: grid;
  grid-auto-rows: 40px;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 20px;
  font-size: 18px;
  font-weight: bold;
  
  .submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px 0 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #211e1f;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }

  > :not(.submit-btn) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 10px 0;

    > :first-child{
      flex: 0 1 80px;
      text-align: center;
    }
    
    .input {
      flex: auto;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border: solid 1px #ebebeb;
      font-weight: bold;

      :focus {
        outline: none;
      }
    }
  }
}
</style> 