<template>
  <div id="app">
    <div class="container">
      <div class="tab-area">
        <router-link v-for="menu in menuList" :key="menu.name" tag="div" 
        :to="menu" active-class="on">{{menu.title}}</router-link>
      </div>
      <router-view :key="$router.fullPath" ></router-view>
    </div> 
    <div class="popup">
      <popup-anchor></popup-anchor>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    menuList: [
      { title: '목록', name: 'list' },
      { title: '등록', name: 'add' },
    ]
  }),
}
</script>

<style lang="scss">
@import url(./css/reset.css);
html, body{
  height:100%;
}
#app {
  .header{
    display: flex;
    align-items: center;
    padding:0 20px;
    border-bottom: 2px solid #f2f2f2;
    font-size: 18px;
    font-weight: bold;
  }
  .main{
    display: grid;
    grid-template-rows: 56px;
  }
  .material-icons { 
    user-select: none;
  }
}
</style>

<style lang="scss" scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;

  .container {
    display: grid;
    grid-template-columns: 100px auto;
    height: 100%;

    .tab-area {
      background-color: #f8f8f8;
      font-size: 18px;
      font-weight: bold;
      color: #333333;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        cursor: pointer;

        &.on {
          border-left: 4px solid #2d81ff; 
          color: #2d81ff;
        }
      }
    }
  }
}
</style>
