<template>
  <div class="main">
    <div class="header list-head">
      <span>목록</span>
      <div class="date-controll">
        <span class="material-icons md-36" v-text="'chevron_left'" @click="moveCalendar(-1)"/>
        <span>{{currentDate}}</span>
        <span class="material-icons md-36" v-text="'chevron_right'" @click="moveCalendar(1)"/>
      </div>
    </div>
    <div class="content" >
      <div class="content-row">
        <div class="row" v-for="title in tableItems" :key="title">{{title}}</div>
      </div>
      <div class="content-row" v-for="acnt in acntBookList" :key="acnt.id">
        <div class="row">{{acnt.date | capitalize}}</div>
        <div class="row">{{acnt.title}}</div>
        <div class="row">{{acnt.sortation === '지출' ? acnt.amount : ''}}</div>
        <div class="row">{{acnt.sortation === '수입' ? acnt.amount : ''}}</div>
        <div class="row">
          <div class="btn" @click="openUpdatePopup(acnt)">수정</div>
        </div>
        <div class="row">
          <div class="btn" @click="deleteAcnt(acnt.id)">삭제</div>
        </div>
      </div>
      <div class="content-row" v-if="acntBookList.length">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">{{amountTotal.spending}}</div>
        <div class="row">{{amountTotal.income}}</div>
        <div class="row">합계 : </div>
        <div class="row">{{amountTotal.income - amountTotal.spending}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash"
import moment from "moment";
import req2svr from "./req2svr";

import AcntUpdate from "../../popup/acntUpdate";

export default {
  name: 'AcntList',
  components: { AcntUpdate },
  data:() => ({
    tableItems: ['날짜', '내용', '지출', '수입', '수정', '삭제'],
    selectedDate: null,
  }),
  computed: {
    currentDate() {
      return this.selectedDate.format('YYYY년 MM월')
    },
    acntBookList() {
      const nowDate = this.selectedDate
      return _.filter( this.$store.getters.getAcntBookList, ( o ) => {
        const tempDate = moment( o.date )
        return tempDate.year() === nowDate.year() && tempDate.month() === nowDate.month()
      })
    },
    amountTotal() {
      return _.reduce( this.acntBookList, ( amountTotal, v ) => {
        const amountKey = v.sortation === '지출' ? 'spending' : 'income'
        amountTotal[amountKey] += v.amount
        return amountTotal
      }, { spending: 0, income: 0 })
    }
  },
  created() {
    this.getAcntBookList()
    const {year, month} = this.$route.query
    let date = moment()
    if(year){
      date.year(year)
    }
    if(month){
      date.month(month)
    }
    this.setSelectedDate(date)
  },
  methods: {
    openUpdatePopup( acnt ) {
      this.$popupManager.open( AcntUpdate, { accountBook: acnt } ).promise
      .then( async ( res ) => {
        const { acntUpdateItem } = res
        if( acntUpdateItem ) {
          const updateResult = await req2svr.updateAcnt( acntUpdateItem )
          if( updateResult ) {
            this.$store.commit( 'updateAcntBookList', acntUpdateItem )
            const tempDate = moment( acntUpdateItem.date )
            this.$router.push( `/list?year=${tempDate.year()}&month=${tempDate.month()}` )
            .catch( () => {} )
            this.setSelectedDate( tempDate )
          } else {
            alert( '서버측 문제발생' )
          }
        }
      })
    },
    moveCalendar( move ) {
      const movedDate = this.selectedDate.add( move, 'months' ).clone();
      this.$router.push( `/list?year=${movedDate.year()}&month=${movedDate.month()}` );
      this.setSelectedDate( movedDate )
    },
    setSelectedDate( date ) {
      this.selectedDate = !date ? moment() : date
    },
    async deleteAcnt( acntId ) {
      const code = await req2svr.deleteAcnt( { acntId } )
      if( code ) {
        this.$store.commit( 'deleteAcntBookList', acntId )
      }else {
        alert( '서버측 문제 발생' )
      }
    },
    getAcntBookList() {
      req2svr.getAcnt().then( res => {
        this.$store.commit( 'setAllAcntBookList', res.data.payload )
      } )
      .catch( err => {
        console.error( err )
        alter( '서버측 문제 발생' )
      } )
    }
  },
  filters: {
    capitalize( value ) {
      return moment( value ).format( 'YYYY-MM-DD' )
    }
  }
}
</script>

<style scoped>
.main{
  overflow-y: auto;
}
.list-head{
  justify-content: space-between;
}
.content{
  display: grid;
  grid-auto-rows: 56px;
  padding: 20px;
}
.date-controll{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}
.content-row{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #f2f2f2;
  font-size: 16px;
  font-weight: bold;
}
.row .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2); */
  background-color: #969696;
  color: #ffffff;
  cursor: pointer;
}
.row .btn:hover{
  background-color: #2d81ff;
}
.material-icons.md-36 {
  font-size: 36px;
  cursor: pointer;
}
</style>