<template>
  <div class="calendar-box">
    <div class="calendar-head">
      <span class="material-icons md-36" v-text="'chevron_left'" @click="moveCalendar( -1 )"/>
      <span>{{fromatCurrentDate}}</span>
      <span class="material-icons md-36" v-text="'chevron_right'" @click="moveCalendar( 1 )"/>
    </div>
    <div>
      <div class="item day" v-for="d in day" :key="d" v-text="d"/>
      <div class="item date"  v-for="date, idx in calendarData" :key="idx"
      :class="{on: selectedDay( date ) }" @click="selectDate( date )" >
        <span v-if="date.month() === crruntDate.month()">{{ date | getDay }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
export default {
  props: { 
    value: {
      type: Object,
      defalut: null,
    },
  },
  data:()=>({
    day : [ '월', '화', '수', '목', '금', '토','일' ],
    crruntDate: null
  }),
  created() {
    this.crruntDate = moment( this.value )
  },
  computed: {
    calendarCurrentDate() {
      return this.crruntDate ? this.crruntDate : moment()
    },
    fromatCurrentDate() {
      return this.calendarCurrentDate.format( 'YYYY년 MM월' )
    },
    calendarData() {
      const calendarData = [],
            first = this.calendarCurrentDate.clone().date(1),
            firstDay = first.day(),
            lastDate = first.clone().add(1, 'months').date(0).date(),
            day = !firstDay ? 7 : firstDay - 1

      if( day < 7 ) {
        for(let i = day; i > 0; i){
          calendarData.push(first.clone().add( --i * -1, 'days' ) )
        }
      }

      for(let i = 0; i < lastDate; i){
        calendarData.push( first.clone().date( ++i ) )
      }

      return calendarData
    },
  },
  methods: {
    selectDate( date ) {
      if( date.format('YYYYMM') === this.crruntDate.format('YYYYMM') ) { 
        this.$emit( 'input', date )
      }
    },
    moveCalendar( moveVal ) {
      this.crruntDate = this.crruntDate.clone().add( moveVal, 'months' )
    },
    formatDate( date ) {
      return date.format( 'YYYY-MM-DD' )
    },
    selectedDay( date ) {
      return this.value.format( 'YYYYMMDD' ) === date.format( 'YYYYMMDD' )
    },
  },
  filters: {
    getDay( date ) {
      return date.date()
    }
  }
}
</script>

<style lang="scss" scoped>
.calendar-box {
  width: 100%;
  height: 100%;
  padding: 20px;

  .calendar-head { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;

    .material-icons.md-36{
      font-size: 36px;
      cursor: pointer;
    }
  }

  > :last-child {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 56px;

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;

      &.day {
        background-color: #3e9d60;
        color: rgba(255, 255, 255, 0.75);
      }

      &.date {
        cursor:pointer;

        &.on {
          color: #2d81ff;
        }

        &:hover {
          color: #2d81ff;
        }
      }
    }
  }
}
</style>